@import "../mixin";
main {
  @include bg;

  .choose-type {
    @include positionAbsolute;
    padding: 20px;
  }

  .standart-type {
    @include positionAbsolute;
    padding: 20px;
  }

  .fleet {
    @include positionAbsolute;
    padding: 20px;
  }
}
