<div class="wrapper">
  <div class="card">
    <nav>
      <ul>
        <li><a href="#">მთავარი </a></li>
        <li><a href="#">მთავარი </a></li>
        <li><a href="#">მთავარი </a></li>
        <li><a href="#">მთავარი </a></li>
      </ul>
      <img src="../assets/Vector.png" alt="X" />
    </nav>

    <section>
      <div class="card-div">
        <img src="../assets/card-info.png" alt="socar-card" />
      </div>

      <div class="info-div">
        <h3>ხელმისაწვდომი</h3>

        <div class="info-names">
          <ul class="list-names">
            <li>
              <img src="../assets/Vector (1).png" alt="icon" />
              <p>ნანო სუპერი</p>
            </li>
            <li>
              <img src="../assets/Vector (2).png" alt="icon" />
              <p>ნანო პრემიუმი</p>
            </li>
            <li>
              <img src="../assets/Vector (3).png" alt="icon" />
              <p>ნანო ევრო რეგულარი</p>
            </li>
          </ul>
          <ul class="list-litr">
            <li>
              <p>100</p>
              <span>ლიტრი</span>
            </li>
            <li>
              <p>500</p>
              <span>ლიტრი</span>
            </li>
            <li>
              <p>60</p>
              <span>ლიტრი</span>
            </li>
          </ul>
        </div>

        <div class="icons">
          <img src="../assets/icon1.png" alt="icon" />
          <img src="../assets/icon2.png" alt="icon" />
          <img src="../assets/icon3.png" alt="icon" />
        </div>
      </div>
    </section>
  </div>
</div>
