*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
}
ul{
    li{
        list-style: none;
        a{
            text-decoration: none;
        }
    }
}